/* 
Obsidian.md Callout Hover Expand
Made by:
Discord - scaryharry4
Git Hub - https://github.com/Scaryharry4
*/
.callout:not(.is-collapsible) {
    display: flex;
    flex-direction: column;
    transition: 500ms;
    opacity: 0.65;
    flex-grow: 1;
  }
  
  .callout:not(.is-collapsible):hover {
    opacity: 1;
  }
  
  .callout:not(.is-collapsible) .callout-content {
    max-height: 0; 
    overflow: hidden; 
    transition: max-height 500ms ease; /* Change this if you change the nax height below */
    flex-grow: 0; 
  }
  
  .callout:not(.is-collapsible):hover .callout-content {
    max-height: 1000px; 
    /* This is an arbitrary value. By default you get 41 lines of text with this. 
    If for some reason you happen to need more than this in a callout you should also change the transition time in the code block above*/
    flex-grow: 1; 
  }

  .callout-content .callout {
    opacity: 1;
  }
